#income-toolbar {
  position: sticky;
  top: 0;
}

table {
  width: 100%;
  background-color: white;
  margin-bottom: 32px;

  .mat-header-cell {
    color: black;
    border-bottom: 1px solid grey;
    top: 64px !important;
  }

  .mat-footer-cell {
    color: black;
    border-top: 3px double grey;
    bottom: 32px !important;
  }

  .mat-cell {
    color: grey;
  }

  tr.even {
    background-color: #FAFAFA;
  }

  tr.highlight {
    background-color: #CCC;
  }
  
}

::ng-deep {
  .mat-column-amount,
  .mat-column-autoVat,
  .mat-column-autoNet {
    .mat-sort-header-container {
      justify-content: flex-end;
    }
  }
  .mat-column-vat {
    .mat-sort-header-container {
      justify-content: center;
    }
  }
}
