<h1 mat-dialog-title> Add Income </h1>

<mat-dialog-content>
  <form #form="ngForm" id="income-form" [formGroup]="addIncomeForm" (submit)="onSubmit(form)">
    <app-income-form formControlName="incomeForm" [reset]="reset$"></app-income-form>
  </form>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions fxFill fxLayout="column">
  <div fxFill fxLayout="row" fxLayoutAlign="space-around center" class="-margin-bottom-10">
    <button type="button" mat-raised-button (click)="onCancel()"> Cancel </button>
    <button type="submit" mat-raised-button color="primary" form="income-form" [disabled]="!addIncomeForm.valid"> Submit </button>
  </div>
  <div fxItemLayout="center">
    <mat-slide-toggle labelPosition="before" color="primary" [(ngModel)]="keepAlive"> <small> Keep open after submit </small> </mat-slide-toggle>
  </div>
</mat-dialog-actions>
