<h1 mat-dialog-title>Add a category</h1>

<div mat-dialog-content fxLayout="column">
  <mat-form-field appearance="fill" fxFill>
    <mat-label> New Category </mat-label>
    <input #categoryInput matInput (keyup.enter)="createCategory(categoryInput)">
    <button matSuffix mat-icon-button (click)="createCategory(categoryInput)" color="primary"><mat-icon>add_box</mat-icon></button>
    <mat-error></mat-error>
  </mat-form-field>

  <ul>
      <li *ngFor="let cat of (categories$ | async)" fxFill fxLayout="row" fxLayoutAlign="space-between baseline">
        <input #catInput matInput [value]="cat.name" (keyup.enter)="updateCategory(catInput, cat)">
        <button mat-icon-button (click)="updateCategory(catInput, cat)" color="primary" [hidden]="cat.name == catInput.value"><mat-icon>save</mat-icon></button>
      </li>
  </ul>
</div>
