<h1 mat-dialog-title> Add Expense </h1>

<mat-dialog-content>
  <form #form="ngForm" id="expense-form" [formGroup]="addExpenseForm" (submit)="onSubmit(form)">
    <app-expense-form formControlName="expenseForm" [reset]="reset$"></app-expense-form>
  </form>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions fxFill fxLayout="column">
  <div fxFill fxLayout="row" fxLayoutAlign="space-around center" class="-margin-bottom-10">
    <button type="button" mat-raised-button (click)="onCancel()"> Cancel </button>
    <button type="submit" mat-raised-button color="primary" form="expense-form" [disabled]="!addExpenseForm.valid"> Submit </button>
  </div>
  <div fxItemLayout="center">
    <mat-slide-toggle labelPosition="before" color="primary" [(ngModel)]="keepAlive"> <small> Keep open after submit </small> </mat-slide-toggle>
  </div>
</mat-dialog-actions>
