<ng-container *ngIf="loading$ | async; else formTpl" fxFill fxLayoutAlign="center center"> Loading expense data... </ng-container>

<ng-template #formTpl #form="ngForm" [formGroup]="expenseForm">
  <div fxLayout="column" fxLayoutAlign="start start">
    <!-- Invoice # -->
    <mat-form-field fxFill>
      <input matInput placeholder="Invoice #" formControlName="invoice">
      <mat-error *ngIf="expenseForm.get('invoice').hasError('required')">
        An invoice number is required
      </mat-error>
    </mat-form-field>

    <!-- Date -->
    <mat-form-field fxFill>
      <input matInput [matDatepicker]="picker" placeholder="Pick a date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="expenseForm.get('date').hasError('required')">
        A date is required
      </mat-error>
    </mat-form-field>

    <!-- Category -->
    <mat-form-field fxFill>
      <mat-select placeholder="Select a category" formControlName="categoryID">
        <mat-option *ngFor="let cat of categories$ | async" [value]="cat.id">{{ cat.name }}</mat-option>
      </mat-select>
      <div matSuffix class="-margin-left-10">
        <mat-icon (click)="openCategoryDialog($event)">playlist_add</mat-icon>
      </div>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field fxFill>
      <input matInput placeholder="Description" formControlName="description">
      <mat-hint *ngIf="expenseForm.get('description').dirty || expenseForm.get('description').touched">
        A description is recommended
      </mat-hint>
    </mat-form-field>

    <!-- VAT -->
    <div class="-margin-top-10"
      fxFill fxLayout="row" fxLayoutAlign="space-between center">
      VAT: 
      <mat-radio-group fxFlex="70" placeholder="VAT" formControlName="vat"
        fxLayout="row" fxLayoutAlign="space-between start"
        color="primary">
        <mat-radio-button value="Incl."> Incl. </mat-radio-button>
        <mat-radio-button value="Excl."> Excl. </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- VAT Rate -->
    <div fxFill fxLayout="row" fxLayoutAlign="space-between baseline" [hidden]="expenseForm.get('vat').value == 'Excl.'">
      <small style="margin-top: 10px">
        Calculated at {{expenseForm.get('vatRate').value}}%
      </small>
      <a routerLink="" (click)="changeVAT = true" *ngIf="!changeVAT"> <small> Change </small></a>
      <mat-form-field style="width: 30px; margin: -10px 0 -20px" *ngIf="changeVAT">
          <input type="number" matInput formControlName="vatRate">
      </mat-form-field>
    </div>

    <!-- Amount -->
    <mat-form-field fxFill>
      <span matPrefix>R &nbsp;</span>
      <mat-label> Amount </mat-label>
      <input type="number" matInput placeholder="0.00" formControlName="amount">
      <mat-error *ngIf="expenseForm.get('amount').hasError('required')">
        Enter an amount in Rands
      </mat-error>
      <mat-error *ngIf="expenseForm.get('amount').hasError('pattern')">
        Enter the number only
      </mat-error>
    </mat-form-field>
  </div>
</ng-template>
