// Use creating global custom classes
@import '~src/assets/styles/global';

// Use for overriding default HTML elements
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { color: white; }
button { border-radius: 2px }

// Material overrides
.-blur {
  background-color: black;
  opacity: 0.5 !important;
  filter: blur(4px);
}
