// Global BEM styles - kinda

// Modifier
// e.g. .-margin-top-10
$borders: 'margin', 'padding';
$directions: 'top', 'right', 'bottom', 'left';
@for $i from 1 through 5 {
  $size: $i * 10;
  @each $border in $borders {
    .-#{$border}-#{$size} {
      #{$border}: #{$size}px;
    }
    @each $direction in $directions {
      .-#{$border}-#{$direction}-#{$size} {
        #{$border}-#{$direction}: #{$size}px;
      }
    }
  }
}

@for $i from 1 through 6 {
  $size: $i * 50;
  .-width-#{$size} {
    width: #{$size}px;
  }
}

// Modifier
.-radius {
  border-radius: 50%;
  &-5 { border-radius: 5px }
}

// Modifier
.-align {
  &-center { text-align: center }
  &-right { text-align: right }
  &-left { text-align: left }
}
